@import "tailwindcss";

@theme {
  --color-background:#f8fafc ;
  --color-foreground: #0f172a;
  --color-border: #C48006
}

.dark {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-border: #C48006
}

/* @media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-background: #0f172a;
    --color-foreground: #f8fafc;
  }
} */

* {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
